.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include gradient;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  animation: loader $animation-duration;
  }

  .loader .spinner {
    height: $loader-size;
    width: $loader-size;
    border: 6px solid;
    border-color: white transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
  }


  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
@keyframes loader {
    from {
        visibility: visible;
    }
    to {
        visibility: hidden;
    }
}

