$main-color: blue;
$white: white;
$grey: grey;
$black: #353535;
$LightGray: #F6F6F6;
$icon: #7E7E7E;


$font-weight: ("regular": 400, "medium": 500, "bold": 700);

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$degree: 357deg;
$shadow : #d5d5d5;

/**** Responsive ****/
$breakpoints: (
    table: 768px,
    desktop: 1024px,
);

/**** width ****/
$whiteMobile: 90%;

/**** loader ****/
$loader-size: 110px;
$animation-duration: 1.5s;

/**** loader ****/